<form action="">
    <div class="form-group">
        UserName:  <input type="text" id="user">
    </div>

    <div class="form-group">
        Message: <input type="text" id="message">
    </div>

    <div class="form-group">
        <button id="send" type="submit">Submit</button>
    </div>
</form>

<button id="process">Selesai pembayaran</button>

<div class="label label-success" id="counter">0</div>

<ul id="chatbox">
    
</ul>
